:root{
    --radius: 10px;

    --primary_color: red;
    --secondary_color: yellow;
    --background_color1: grey;
    --background_color2: darkgrey;

    --primary_text_color: black;
    --secondary_text_color: white;

    --seperationSpace: 5px;
}

html, body{
    margin: 0;
    padding: 0;
}

/* Nav Menu */

nav{
    position: sticky;
    top: 0;
    left: 0;
   

    background-color: var(--secondary_color);
    border-radius: 0 0 var(--radius) var(--radius);
}

.menucontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: var(--seperationSpace);

    height: 100%;
    padding: 1em;

}

.buttoncontainer{

    background-color: var(--secondary_color);
    border-radius: var(--radius);

    text-decoration: none;
}

.buttoncontainer div{
    padding: 5px 10px;
}

.buttoncontainer div p{
    padding: 0;
    margin: 0;

    text-align: center;
    color: var(--primary_text_color);
}

.menubutton{
    background-color: var(--primary_color);
}

.menubutton p{
    font-size: larger;
    text-align: center;

    color: var(--primary_text_color);
}

.titlecontainer{

    max-width: 150px;
    max-height: 10vh;
    overflow: hidden;
   
    
}

.titlecontainer img{
    max-width: 100%;
    height: auto;
}



/* Main Content */

#maincontent{
    display: grid;

    grid-template-areas: 
    "home"
    "download"
    "development"
    "reportbugs"
    "footer";
}


section{
    height: 100vh;
}

/* home */

#home{
    grid-area: "home";
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    justify-items: center;

    background-color: var(--background_color2);
}

.textcontainer{
    max-width: 50%;

    background-color: var(--background_color1);
    border-radius: var(--radius);
}

.textcontainer p{
    padding: var(--seperationSpace);
}

.landingbuttons{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--seperationSpace);

    background-color: var(--background_color1);
    border-radius: var(--radius);

    padding: var(--seperationSpace);
}

.landingbuttons .buttoncontainer:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
}

.landingbuttons .buttoncontainer{
    padding: calc(var(--seperationSpace)*2);
}

/* Downloads */

#download{
    grid-area: "download";

    background-color: var(--background_color1);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
}

#download .titlecontainer{
    grid-column: 2;
}

#OSMenucontainer{
    grid-row: 2;
    grid-column: 1;
}

#vertionMenucontainer{
    grid-row: 2;
    grid-column: 2;
}

#downloadMenucontainer{
    grid-row: 2;
    grid-column: 3;
}

/* development */

#development{
    grid-area: "development";

    background-color: var(--background_color2);

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

/* reportbugs */

#reportbugs{
    grid-area:"reportbugs";

    background-color: var(--background_color1);
}

/* Footer */
footer{
    background-color: var(--primary_color);

    display:grid;
    grid-template-columns: 0.2fr 0.6fr 0.1fr 0.1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

    gap: var(--seperationSpace);
    padding: var(--seperationSpace);
}

footer .textcontainer{
    grid-row: 2;
    grid-column: 1;

    max-width: none;
}

footer .titlecontainer{
    grid-row: 1;
    grid-column: 2;
}

footer .textbutton:first-of-type{
    grid-row: 2;
    grid-column: 3;
}

footer .textbutton:last-child{
    grid-row: 2;
    grid-column: 4;
}