:root{

}

html, body{
    margin: 0;
    padding: 0;
}

/* Nav Menu */

nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 10vh;
}

.menucontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

}

/* Main Content */

#maincontent{
    display: grid;

    grid-template-areas: 
    "home"
    "download"
    "development"
    "reportbugs"
    "footer";
}


section{
    height: 100vh;
}

#home{
    grid-area: "home";
}

#download{
    grid-area: "download";
}

#development{
    grid-area: "development";
}

#reportbugs{
    grid-area:"reportbugs";
}