:root{
    

    --primary_color: #ffffff;
    --secondary_color: #A0E1E1;
    --background_color1: #E9EBE7;
    --background_color2: #0C2C68 ;

    --menu_button_defult: #1F6463;
    --menu_button_hover: #7787A5;

    --button_defult: #1F6463;
    --button_hover: #7787A5;

    --primary_text_color: black;
    --secondary_text_color: white;
    --off_text_color: #E9EBE7;

    --radius: 10px;
    --seperationSpace: 5px;

    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;

    background-color: var(--background_color2);
}

/* General */

section{
    height: 100vh;
}

.bg1{
    background-color: var(--background_color1);
}

.bg2{
    background-color: var(--background_color2);
}

.fg1{
    color: var(--primary_text_color);
}

.fg2{
    color: var(--secondary_text_color);
}

.textcontainer{
    padding: var(--seperationSpace);
    border-radius: var(--radius);
}

.textcontainer *{
    margin: 0;
}

.paragraphcontainer{
    padding: var(--seperationSpace);
    border-radius: var(--radius);
}

.paragraphcontainer .textcontainer{

}

.paragraphcontainer .textcontainer:first-child *{
    font-size: larger;
}

.titleabovecontainer{
    padding: var(--seperationSpace);
}

.titleabovecontainer .textcontainer:first-child{
    padding: var(--seperationSpace);
    border-radius: var(--radius);
}

.titleabovecontainer .textcontainer:first-child *{
    font-size: larger;
}

.titleabovecontainer .textcontainer{
    padding: var(--seperationSpace);
    border-radius: var(--radius);
}

/* TODO fix button css so:
    the container is for size
    the a>div is the button background
 */

.buttoncontainer{

    background-color: var(--secondary_color);
    border-radius: var(--radius);
}

.buttoncontainer a{
    text-decoration: none;
}

.buttoncontainer a div{
    padding: 5px 10px;
}

.buttoncontainer a div p{
    padding: 0;
    margin: 0;

    text-align: center;
    color: var(--primary_text_color);
}

.titlecontainer{

    max-width: 150px;
    max-height: 10vh;
    overflow: hidden;
   
    
}

.titlecontainer img{
    max-width: 100%;
    height: auto;
}

/* Nav Menu */

nav{
    position: sticky;
    top: 0;
    left: 0;
   

    background-color: var(--primary_color);
    border-radius: 0 0 var(--radius) var(--radius);

    z-index: 999;
}

.navmenucontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: var(--seperationSpace);

    height: 100%;
    padding: 1em;

}

.navmenucontainer .buttoncontainer{
    background-color: var(--menu_button_defult);
    transition: 0.3s ease-out;
}

.desktop{
    display: block;
}

.mobile{
    display: none;
}

.menubutton{
    
    
}

.menubutton p{
    font-size: larger;
    text-align: center;

    color: var(--primary_text_color);

    transition: color 0.3s ease-out;
}

.menubutton:hover{
    background-color: var(--menu_button_hover);
    
}

.menubutton:hover p{
    color: var(--secondary_text_color);
}

#hamburgerMenu{
    display: none;
}

@media screen and (max-width:800px){
    .navmenucontainer .desktop{
        display: none;
    }

    .navmenucontainer .mobile{
        display: block;
    }

    #hamburgerMenu{
        display: block;
        position: absolute;
        right: 0;
        
        padding: var(--seperationSpace);
        border-radius: var(--radius);
    }

    .hammenucontainer{
        display: flex;
        flex-direction: column;
        gap: var(--seperationSpace);
    }
}

.hidden{
    
    visibility: hidden !important; 
}

/* Main Content */

#maincontent{
    display: grid;

    grid-template-areas: 
    "home"
    "download"
    "development"
    "reportbugs"
    "footer";
}

/* home */

#home{
    grid-area: home;
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    justify-items: center;

    background-color: var(--background_color2);
}

#home .left, #home .right{
    width: 60%;
    flex-direction: column;
}

#home .right .textcontainer{
    font-size: x-large;
    color: var(--secondary_text_color);
}

.landingbuttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: var(--seperationSpace);
}

.landingbuttons .buttoncontainer:first-child{
    grid-column-start: 1;
    grid-column-end: 4;
    
}

.landingbuttons .buttoncontainer:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
    
}

@media screen and (max-width:800px) {
    #home{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    #home .left, #home .right{
        width: 60%;
        flex-direction: column;
    }

    #home .left{
        grid-row: 1;
    }

    #home .left{
        grid-row: 2;
    }
}

/* Downloads */

#download{
    grid-area: download;

    background-color: var(--background_color1);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    align-items: center;
    justify-items: center;
}

#download .textcontainer{
    grid-column: 2;
}

#OSMenucontainer{
    grid-row: 2;
    grid-column: 1;
}

#vertionMenucontainer{
    grid-row: 2;
    grid-column: 2;
}

#downloadMenucontainer{
    grid-row: 2;
    grid-column: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    gap:var(--seperationSpace);

    border-radius: var(--radius); 
}

#download .menucontainer{
    width: 100%;
    height: 100%;

    justify-items: center;
}

.menucontainer .list, .menucontainer .menu{
    padding: var(--seperationSpace);
    box-sizing: border-box;

    width: 70%;
    height: 90%;

    background-color: var(--background_color2);
    border-radius: var(--radius);
}

.menucontainer .list .textcontainer{
    color: var(--secondary_text_color);
    text-align: center;
    font-size: large;
}

.menucontainer .list .listselection{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
}

.menucontainer .list .listselection a{
    text-decoration: none;
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menucontainer .list .listselection a span{
    width: 80%;
    height: 5px;
    background-color: var(--button_defult);
    border-radius: var(--radius);
    content: "";

    transition: 0.3s ease-in-out;
}

.menucontainer .list .listselection a p{
    color: var(--off_text_color);
    margin: var(--seperationSpace);

    transition: 0.3s ease-in-out;
}

.menucontainer .list .listselection a:hover span{
    width: 90%;
    background-color: var(--button_hover);
}

.menucontainer .list .listselection a:hover p{
    color: var(--secondary_text_color);
    margin: var(--seperationSpace);
}

.menucontainer .menu{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    color: var(--off_text_color);
}

.menucontainer .menu .buttoncontainer{
    width: 60%;
}

.menucontainer .menu .titleabovecontainer{
    width: 80%;
}

@media screen and (max-width:800px){
    #download{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;

       
    }

    #download .textcontainer{
        grid-row: 1;
        grid-column: 1;
    }

    #OSMenucontainer{
        grid-row: 2;
        grid-column: 1;
    }

    #vertionMenucontainer{
        grid-row: 3;
        grid-column: 1;
    }
    #downloadMenucontainer{
        grid-row: 4;
        grid-column: 1;
    }
}


/* development */

#development{
    grid-area: development;

    background-color: var(--background_color2);

    display: grid;
    gap: var(--seperationSpace);
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    
}

#development .left, #development .right{
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: var(--radius);
}

#development .left{
    grid-row: 0;
}

#development .right{
    grid-row: 1;
}

@media screen and (max-width:800px) {
    #development{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }

    #development .left, #development .right{
        width: 60%;
        height: 40vh;
        flex-direction: column;
    }

    #development .left{
        grid-row: 1;
    }

    #development .left{
        grid-row: 2;
    }
}

/* reportbugs */

#reportbugs{
    grid-area:reportbugs ;
    display: none;/*removed for development*/
    background-color: var(--background_color1);
}

/* Footer */
footer{
    background-color: var(--primary_color);

    display:grid;
    grid-template-columns: 0.2fr 0.6fr 0.1fr 0.1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

    gap: var(--seperationSpace);
    padding: var(--seperationSpace);
}

footer .textcontainer{
    grid-row: 2;
    grid-column: 1;

    max-width: none;
}

footer .titlecontainer{
    grid-row: 1;
    grid-column: 2;
}

footer .textbutton:first-of-type{
    grid-row: 2;
    grid-column: 3;
}

footer .textbutton:last-child{
    grid-row: 2;
    grid-column: 4;
}