:root{
    --custom_dark_grey1: #0B0E2D;
    --custom_dark_grey2: #3D3D3D;
    --custom_light_grey1: #9597A6;
    --custom_light_grey2: #CFCFCF;
    --custom_white: #FEFEFE;
    --custom_blue: #031CFF;
    --logo_green:#19CF87;
    --logo_red:#F24F2B;
    --logo_purple:#A159F9;
    --logo_blue:#1FBCFA;
    --gap: 28px;
    --scale-delay: 250ms;
}

@import url('https://fonts.cdnfonts.com/css/campton');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
}

.ran{
    height: 4000px;
}


/*Nav Bar*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-right: 3%;
    /*position: fixed;*/
}

.nav_menu{
    display: flex;
    margin: 0;
	padding: 0;
	list-style: none;
}

.nav_menu_element{
    text-align: center;
    margin: auto 0px;
    position: relative;
    padding-inline: calc(var(--gap) / 2);
}

.nav_menu_element.link::after{
    content: '';
    background-color: var(--custom_blue);
    position: absolute;
    height: 4px;
    width: 100%;
    top: -40px;
    left: 0%;

}

.nav_menu_element button{
    text-decoration: none;
    font-family: 'Campton';
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

ul.nav_menu li:nth-child(4) {
    margin-right: 40px;
}

button.signin_button{
    font: normal normal 900 14px/normal Roboto;
    padding: 10px;
}

/* LOGO */

.logo_container{
    width: 123px;
    height: 40px;
    display: flex;
    margin-left: 5.5%;
}


.logo_img{
    width: 34px;
    height: 34px;
    position: relative;
}

.logo{
    width: 14px;
    height: 14px;
    position: absolute;
    padding: none;
    margin: none;
}

.green{
    background-color: var(--logo_green);
    border-radius: 100% 0% 0% 100%;
    transform: rotate(45deg);
    left: 10px;
}

.red{
    background-color: var(--logo_red);
    border-radius: 100% 100% 0% 100%;
    transform: rotate(-45deg);
    top: 10px;
}

.purple{
    background-color: var(--logo_purple);
    border-radius: 0% 0% 100% 100%;
    transform: rotate(45deg);
    top: 20px;
    left: 10px;
}

.blue{
    background-color: var(--logo_blue);
    border-radius: 0% 100% 0% 0%;
    transform: rotate(45deg);
    top: 10px;
    left: 20px;
}

.logo_text{
    width: 75px;
    height: 36px;

}

.logo_text a{
    text-decoration: none;
    font-family: Campton;
    font-size: 26px;
    line-height: 30px;
}

/* BUTTONS */

button{
    cursor:pointer;
    text-align: center;
    color: inherit;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.hollow{
    border-radius: 100px;
    color: var(--custom_white);
    border: 1px solid var(--custom_white);
}

.hollow:hover{
    color: var(--custom_blue);
    background-color: var(--custom_blue);
}

.solid{
    border-radius: 100px;
    color: var(--custom_white);
    border: 1px solid var(--custom_blue);
    background-color: var(--custom_blue);
}

.solid:hover{
    color: var(--custom_white);
    background-color: transparent;
}

/*RESERVATIONS*/
.containerblock1{
    margin: 40px;
}

.GoPlaces{
    background: url(../Section-3/images/location/car_in_dessert.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    aspect-ratio: 1.5;
    margin: 0 40px 0 40px ;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
}

.GoPlaces .textcontainer{
    z-index: 1;
}

.GoPlaces .textcontainer .text{
    color: var(--custom_white);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.GoPlaces .textcontainer .text:first-child{
    font-size: 79px;
}

.textcontainer .line{
    border: white 2px;
    height: 1px;
}

.coverbox {
    height: 100%;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--custom_blue);
    mix-blend-mode: multiply;
}

.bottomGradeint {
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: linear-gradient(180deg, #CE9671 0%, rgba(206, 150, 113, 0.00) 100%);
    background-blend-mode: screen;
}

.reservenow, .watchvideo{
    height: 54px;
}



/* FONTS */
/* Camption */
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonBlack.otf);

    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonBlackItalic.otf);

    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonBold.otf);

    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonBoldItalic.otf);

    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonBook.otf);

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonBookItalic.otf);

    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonExtraBold.otf);

    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonExtraBoldItalic.otf);

    font-weight: bolder;
    font-style: italic;
    
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonExtraLight.otf);

    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonExtraLightItalic.otf);

    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonLight.otf);

    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonLightItalic.otf);

    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonMedium.otf);

    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonMediumItalic.otf);

    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonSemiBold.otf);

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonSemiBoldItalic.otf);

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonThin.otf);

    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url(..\Section-3\fonts\campton\campton-cufonfonts\CamptonThinItalic.otf);

    font-weight: lighter;
    font-style: italic;
}