:root{
    --main-padding: 5px;
    --main-radius: 5px;
    --primary-color: #1e90ff;
    --secondary-color: #f7c600;
    --white: #ffffff;
    --teal: #59c3c3;
    --redish: #f45b69;
}

#contianer{
    display: grid;

   grid-template-areas: 
   "nav nav nav nav"
   "sidebar main main main"
   "sidebar c1 c2 c3"
   "footer footer footer footer";

   grid-template-columns: 0.70fr 1.1fr 1.1fr 1.1fr;
   grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;

   height: 100vh;

    gap: var(--main-padding);
}

nav{
    grid-area: nav;

    border-radius: var(--main-radius);
    padding: var(--main-padding);
    background-color: var(--primary-color);

}

article{
    display: none;
}


main{
    grid-area: main;

    border-radius: var(--main-radius);
    padding: var(--main-padding);
    background-color: var(--redish);
}

#content1{
    grid-area: c1;

    border-radius: var(--main-radius);
    padding: var(--main-padding);
    background-color: var(--redish);

}

#content2{
    grid-area: c2;

    border-radius: var(--main-radius);
    padding: var(--main-padding);
    background-color: var(--redish);

}

#content3{
    grid-area: c3;

    border-radius: var(--main-radius);
    padding: var(--main-padding);
    background-color: var(--redish);

}

#sidebar{
    grid-area: sidebar;

    border-radius: var(--main-radius);
    padding: var(--main-padding);
    background-color: var(--teal);

}

footer{
    grid-area: footer;

    border-radius: var(--main-radius);
    padding: var(--main-padding);
    background-color: var(--secondary-color);

}

@media only screen and (max-width:500px) {
    #contianer{
        display: grid;

        grid-template-areas: 
        "nav"
        "article"
        "main"
        "c1"
        "c2"
        "c3"
        "footer";

   grid-template-columns: 1fr;
   grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.8fr;

   height: 100vh;

    gap: var(--main-padding);

    }

    #sidebar{
        display: none;
    }

    article{
        display: grid;
        grid-area: article;

        border-radius: var(--main-radius);
        padding: var(--main-padding);
        background-color: var(--teal);
    }
}