/* Colors */
:root{
    --custom_dark_grey1: #0B0E2D;
    --custom_dark_grey2: #3D3D3D;
    --custom_light_grey1: #9597A6;
    --custom_light_grey2: #CFCFCF;
    --custom_white: #FEFEFE;
    --custom_blue: #031CFF;
    --custom_gradient_radial_black_to_trans: radial-gradient(57.89% 57.89% at 50% 50%, #0B0D2B 0%, rgba(11, 14, 45, 0) 100%);
    --custom_gradient_radial_white_to_trans: radial-gradient(57.89% 57.89% at 50% 50%, #FFFFFF 0%, rgba(11, 14, 45, 0) 100%);
    --custom_gradient_liner_orange_to_black: linear-gradient(0deg, #CE9671 20.79%, rgba(206, 150, 113, 0) 100%);
}

body{
    margin-left: 2.85%;
    margin-right: 2.85%;
}

/* Reacureing Icons */



div.logo{
    float: left;
    display: inline-flex;
    height: 40px;
    margin-top: 10px;
}

div.logo h1{
    font-family: 'Campton';
    height: 40px;
    margin: 0px;
    margin-left: 9px;
}

div.logo img{
    height: 40px;
}

/* Navigation Bar */

div.navbar{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
}

div.navbar div.logo{
    margin-left: 2.85%;
}

div.navbar div.navbuttons{
    float: right;
    display: inline-flex;
    margin-top: 10px;
    height: 40px;
}

div.navbar div.navbuttons div.text_button_frame{
    display: inline-flex;
}

div.text_button_frame div.text_button{
    margin: 8px;
    padding: 4px;
}

div.sign_in_button_frame{
    padding: 2px;
}

div.sign_in_button_frame a div.round_button_hollow{
    padding: 8px;
    border: 1px solid var(--custom_blue);
}

div.sign_in_button_frame a div.round_button_hollow h5{
    padding: 0px;
    margin: 0;
    text-align: center;

    font-family: 'Campton';
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: bolder;
    text-decoration: none;   
}

/* Buttons */

div.text_button a:link, div.text_button a:visited{
    color: var(--custom_dark_grey2);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    font-family: 'Campton';
    font-size: 12px;
    line-height: 14px;
}

a:hover div.text_button , a:active div.text_button {
    color: var(--custom_dark_grey2);
    text-transform: uppercase;
    font-weight: bold;

    font-family: 'Campton';
    font-size: 12px;
    line-height: 14px;
}

a:link div.round_button_solid , a:visited div.round_button_solid {
    background-color: #031CFF;
    border-radius: 100px;
}

div.round_button_solid a:hover, div.round_button_solid a:active{
    background: #031CFF;/*update color*/
    border-radius: 100px;
}

div.round_button_hollow{
    border: 3px solid var(--custom_blue);
    border-radius: 200px;
}

a{
    text-decoration: none;
}

a:link div.round_button_hollow, a:visited div.round_button_hollow{
    color: var(--custom_blue);
}

a:hover div.round_button_hollow, a:active div.round_button_hollow{
    color: var(--custom_blue);
}

/* Go Places*/ 
div.go_places{
    width: 100%;
    height: fit-content;
}


div.go_places_img{
    width: 100%;
    position: relative;
}

div.go_places_img img{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

div.go_places div.blue_box{
    position: absolute;
    width: 420px;
    height: 120%;
    left: calc(100% - 420px);
    top: 0;

    background: #031CFF;
    mix-blend-mode: multiply;
}

div.go_places_container{
    position: absolute;
    top: 350px;
    left: 22.1%;
    width: 30%;
    z-index: 9;
}

div.go_places_container div.text_container h3, div.go_places_container div.text_container h4{
    color: #FFFFFF;
    font-family: 'campton';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

div.go_places_container div.text_container h3{
    color: #FFFFFF;
    font-family: 'campton';
    font-style: normal;
    font-weight: bolder;
    font-size: 80px;
}

div.go_places_container div.text_container div.line{
    border: 1px solid #FFFFFF;
    width: 343px;
    height: 0px;
    margin-left: 102px;
}


div.go_places_container div.button_container{
    height: 74px;
    display: inline-flex;
    align-items: center;
}

div.reserve_now_button a div.round_button_solid{
    width: 251px;
    height: 54px;
    margin: 10px;

    border: 3px solid var(--custom_blue);
}

div.reserve_now_button a h5, div.watch_video_button a h5{
    position: relative;
    top: calc(50% - 11px);
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 22px;
    text-align: center;
    font-family: 'campton';
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

div.watch_video_button a div.round_button_hollow{
    width: 250px;
    height: 54px;
    margin: 10px;

    border-color: #FFFFFF;
}

div.watch_video_button a img{
    position: relative;
    top: 20px;
    left: 55px;
    width: 5.6%;
    height: auto;
}

div.watch_video_button a h5{
    top: -2px;
    left: 0px;
    padding-left: 20px;
}

/* Lets Connect */

div.lets_connect{
    position: absolute;
    height: 370px;
    left: 55px;
    top: 808px; 
}

div.lets_connect div.text{
    font-family: 'campton';
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 16px;
    height: 185px;
    width: 17px;
    /* identical to box height */

    letter-spacing: 0.5em;
    text-transform: uppercase;

    color:  var(--custom_blue);;
}

div.lets_connect div.text h5{
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 17px;
    width: 185px;
    margin: 0;
}

div.lets_connect div.icons div{
    margin-top: 35px;
}

/* featured */
div.featured{
    margin-top: 100px;
}

/* Featured left*/

div.featured_left img{
    width: 516px;
    height: 689px;
    margin-left: 80px;
   
   
}

/* featured right */
div.featured_right{
    display: flex;
    flex-direction: column;
}

div.featured_right div.location{
    display: inline-flex;
    height: 160px;
}

div.featured_right h3{
    font-family: 'campton';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;

    letter-spacing: 1em;
    text-transform: uppercase;
    color: var(--custom_blue);
}

div.featured_right div.location div.image{
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    margin: 0;
}

div.featured_right div.location div.image img{
    margin-right: 30px;
    
}

div.featured_right div.location div.text_container{
    position: relative;
    top: 0;
    right: 0;
    
    height: 150px;
}

div.location div.text_container div.heading{
    height: 40px;
    display: inline-flex;
    align-items: center;
}

div.location div.text_container div.heading img{
    width: 25px;
    height: 15px;
    margin-left: 45px;
}


div.location div.text_container div.heading h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    height: 40px;
    margin: 0;
}

div.location div.text_container div.description p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    max-width: 352px;

    color: var(--custom_light_grey1);
}

div.location div.text_container div.interaction_bar{
    display: inline-flex;
}

div.location div.text_container div.interaction_bar *{
    display: inline-flex;
    color: var(--custom_light_grey2);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
}

div.location div.text_container div.interaction_bar div.like a{
    margin-right: 20px;
}

div.location div.text_container div.interaction_bar div.like p, div.location div.text_container div.interaction_bar div.comment p{
    margin: 0;
    margin-left: 8px;
}

/* Footer */

div.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.footer div.copyright h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: var(--custom_light_grey1);
}

/* Icons */

.heart {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}


/* Fonts */
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBlack.otf);

    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBlackItalic.otf);

    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBold.otf);

    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBoldItalic.otf);

    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBook.otf);

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBookItalic.otf);

    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraBold.otf);

    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraBoldItalic.otf);

    font-weight: bolder;
    font-style: italic;
    
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraLight.otf);

    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraLightItalic.otf);

    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonLight.otf);

    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonLightItalic.otf);

    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonMedium.otf);

    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonMediumItalic.otf);

    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonSemiBold.otf);

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonSemiBoldItalic.otf);

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonThin.otf);

    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonThinItalic.otf);

    font-weight: lighter;
    font-style: italic;
}
